@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

.section-title {
  text-align: center;
  margin-bottom: 70px;
}

.section-title p {
  /* 단어단위로 wrap */
  word-break: keep-all; 
}

/* NAV */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

nav img {
  width: 350px;
  cursor: pointer;
}

nav .navigation {
  display: flex;
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav .navigation ul li a:hover,
nav .navigation ul li a.active {
  color: #FDC93B;
}

nav .navigation ul li a.lang {
  font-size: 0.8rem;
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: rgb(21, 21, 100);
  border: 1px solid #412e88;
}

nav .navigation ul li a.lang:hover {
  background-color: #FDC93B;
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-btn img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#menu-close {
  display: none;
}

/***************************************/
/* HOME */
/***************************************/

/* HOME-IMAGE : SWIPER */

.swiper {
  margin-top: 65px;
  width: 100%;
  height: 45vh;
}

.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper .swiper-wrapper .slide1 {
  background-image : linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/home-back01.jpg");
}

.swiper .swiper-wrapper .slide2 {
  background-image : linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/home-back02.jpg");
}

.swiper .swiper-wrapper .slide3 {
  background-image : linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/home-back03.jpg");
}

.swiper-slide h2 {
  color: #fff;
  font-size: 2.6rem;
  letter-spacing: 2px;
  word-break: keep-all;
}

/* FEATURES */

#features {
  padding: 80px 10vw 0 10vw;
}

#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5rem;
}

#features .fea-box {
  background-color: #ebebf0;
  padding: 2rem;
  text-align: start;
  border-radius: 10px;
}

#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}

#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 50);
  padding: 13px 0 7px 0;
}

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(90, 90, 87);
}

/* PRODUCT & FACILITIES */

#product-brief {
  padding: 80px 15vw 0 15vw;
}

.product-brief-base {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.product-brief-base .product-box {
  text-align: center;
  position: relative;
  height: 100%;
  background-color: #3B82F6;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.product-brief-base .product-box .product-title {
  margin: 4px;
}

.product-brief-base .product-box .product-img {
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.product-brief-base .product-box .product-img.image1 {
  background-image: url("images/products/ca-short-wire-section-01.jpg");
  border-radius: 4px;
}

.product-brief-base .product-box .product-img.image2 {
  background-image: url("images/product02.jpg");
  border-radius: 4px;
}

.product-brief-base .product-box .product-img.image3 {
  background-image: url("images/product03.jpg");
  border-radius: 4px;
}

.product-brief-base .product-box .more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8B5CF6;
  color: #fff;
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border: 5px solid #fff;
  font-weight: 700;
  ;
}

.product-brief-base .product-box .more:hover {

  background-color: #d9b6fa;
}

/* HISTORY-BRIEF */

#history-brief {
  margin-top: 80px;
  padding: 0 8vw;
  background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(82, 91, 233, 0.5)), url("images/home-back02.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
}

#history-brief .history-brief-base h1 {
  color: #fff;
}

#history-brief .history-brief-base p {
  color: #fff;
}

#history-brief .history-brief-base .history-brief-box {
  display: flex;
  margin-top: 40px;
}

#history-brief .history-brief-base .history-brief-box .history-brief-item {
  text-align: center;
  border-radius: 5px;
  padding: 15px 10px;
  margin: 0 10px 10px 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: bulr(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

#history-brief a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background: #FDC93B;
  color: #fff;
  background-repeat: 5px;
  font-weight: 600;
  transition: 0.3s ease;
}

/* VIDEOS */

#video {
  padding: 80px 15vw 0 15vw;
}

/* MODAL - MODAL-CONTAINER */

#video .modal-container .modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 10vw;
  display: grid;
  place-items: center;
}

#video .modal-container .modal .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#video .modal-container .modal .video .icon-container {
  width: 100%;
  text-align: end;
  margin-bottom: 15px;
}

#video .modal-container .modal .video i {
  color: #fff;
  font-size: 30px;
  text-align: end;
}

#video .modal-container .modal .video video {
  max-height: 600px;
  max-width: 100%;
  border: 3px solid #fff;
}

#video .modal-container .modal.modal1 {
  display: none;
}
#video .modal-container .modal.modal2 {
  display: none;
}
#video .modal-container .modal.modal3 {
  display: none;
}

/* MODAL - VIDEO-CONTAINER */

#video .video-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  text-align: center;
}

#video  .video-container-box {
  padding: 5px;
  background-color: #6255E5;
  border-radius: 5px;
  color: white;
}

#video .video-container-box h3 {
  margin: 10px 0;
}

#video .video-container .video {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#video .video-container .video.video1 {
  background-image: url("images/video-back01.jpg");
}
#video .video-container .video.video2 {
  background-image: url("images/video-back02.jpg");
}
#video .video-container .video.video3 {
  background-image: url("images/video-back03.jpg");
}

#video .video-container .video img {
  width: 30%;
}

/*VIDEO-BOX */

#video .video-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  display: none;
  text-align: center;
}

#video .video-box video {
  width: 100%;
}


/* FOOTER */

footer {
  margin-top: 8vw;
  padding: 8vw 8vw;
  background-color: #101c32;
}

footer .footer-base {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-col {
  padding-bottom: 40px;
}

footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 500;
  padding-bottom: 20px;
}

footer li {
  list-style: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

footer li:hover {
  color: rgb(241, 240, 245);
}

footer p {
  color: #7b838a;
  
}

footer .subscribe {
  display: flex;
  margin-top: 20px;
  align-items: center;
}


footer .subscribe a.blue {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background: #0b03f9;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

footer .subscribe a.blue:hover {
  background: #f7f3e9;
  color: rgb(21, 21, 100);
}

footer .subscribe a.yellow {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background: #FDC93B;
  color: #2c2c2c;
  font-weight: 600;
  transition: 0.3s ease;
}

footer .subscribe a.yellow:hover {
  background: #f7f3e9;
  color: rgb(21, 21, 100);
}

footer .copyright {
  display:flex;
  justify-content: center;
  align-items: center;
}

footer .copyright p {
  color: #aaa;
}

/***************************************/
/* ABOUT */
/***************************************/

/* ABOUT-HOME */

#about-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.2), rgba(5, 4, 46, 0.5)), url("images/about-back.jpg");
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 80px;
}

#about-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* GREETING-CONTAINER */

#about {
  display:grid;
  grid-template-columns: 1fr;
  place-items: center;
}

#about-section {
  width: 900px;
  display: grid;
  gap: 80px;
}

#greeting-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  place-items: center;
  gap: 50px;
}

#greeting-container .greeting-text h3 {
  color: #29303B;
}

#greeting-container .greeting-text p {
  color: #282929;
  font-weight: 300;
}

/* HISTORY */

#history .history-base {
  display: grid;
  gap: 30px;
}

#history .history-box {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 50px;
  align-items: start;
}

#history .history-box .tens {
  text-align: center;
  font-size: 30px;
  background-color: rgba(13, 57, 253, 0.496);
  padding: 10px;
  font-weight: 700;
  color: #fff;
}

#history .history-box .contents-base {
  padding: 10px 20px;
  border: 1px solid rgba(220, 219, 219, 0.716);
}

#history .history-box .contents-base img {
  max-width: 100%;
}


/* PATENT */

#patent .patent-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  text-align: center;
}

#patent .patent-container .patent-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(193, 192, 192);
}

/***************************************/
/* PRODUCTS */
/***************************************/

/* PRODUCT-HOME */

#products-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.2), rgba(5, 4, 46, 0.5)), url("images/products-back.jpg");
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

#products-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* PRODUCT-CONTAINER */


#products {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

#products-section {
  width: 600px;
  display: grid;
  gap: 60px;
}

#products-section #products-menu {
  width: 100%;
  position: sticky;
  top: 70px;
}

#products-section .section-title {
  margin: 0;
}

#products-menu .menu-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#products-menu .menu {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  background-color: rgb(221, 220, 220);
  color: #000;
  cursor: pointer;
  border: 1px solid #aaa;
  padding-left: 15px;
}

#products-menu .menu:hover {
  background-color: #fff;
}

#products-menu .menu-container .menu:not(:last-child) {
  border-right: none;
}

#products-menu .menu.active{
  background-color: rgb(251, 251, 251);
}

#products-menu .menu i {
  font-size: 24px;
  margin-right: 20px;
}

#products-menu .menu i.active {
  color: #8a2be2;
}

#products-type-container {
  width: 100%;
  border: 1px solid #ddd;
}

#products-type-container .title{
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

#products-type-container .title i {
  font-size: 24px;
  margin-right: 20px;
}

#products-type-container .contents {
  padding: 30px;
}


#products-type-container .contents h3 {
  margin-bottom: 20px;
}

#products-type-container .contents h3:not(:first-child) {
  margin-top: 20px;
}

#products-section #products-container {
  display: grid;
}

#products-container .product {
  margin-bottom: 50px;
}

#products-container .product hr {
  margin-bottom: 40px;
}

#products-container .product i {
  margin: 0 20px 0px 0;
  color:rgb(84, 40, 241);
}

#products-container .product li {
  list-style-position: inside;
}

#products-container .product .contents
{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 30px;
}

#products-container .product .contents01
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px;
}

#products-container .product img
{
  max-width: 100%;
}

#products-container .product .contents.ca-pope-reel-section 
{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 30px;
}

#products-container .product .contents h6 {
  margin: 20px 0;
}

#products-container .product .contents.ca-ln-press-section .lower-img {
  margin-top: 30px;
}

/*************************/
/* EQUIPMENT */
/*************************/

#equipment-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.2), rgba(5, 4, 46, 0.5)), url("images/products-back.jpg");
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

#equipment-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#equipment {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

#equipment-section {
  width: 600px;
  display: grid;
  gap: 60px;
}

#equipment-section #equipment-menu {
  width: 100%;
  position: sticky;
  top: 70px;
}

#equipment-section .section-title {
  margin: 0;
}

#equipment-menu .menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#equipment-menu .menu {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  background-color: rgb(221, 220, 220);
  color: #000;
  cursor: pointer;
  border: 1px solid #aaa;
  padding-left: 15px;
}

#equipment-menu .menu:hover {
  background-color: #fff;
}

#equipment-menu .menu-container .menu:not(:last-child) {
  border-right: none;
}

#equipment-menu .menu.active {
  background-color: rgb(251, 251, 251);
}

#equipment-menu .menu i {
  font-size: 24px;
  margin-right: 10px;
}

#equipment-menu .menu i.active {
  color: #8a2be2;
}

#equipment-container {
  display: grid;
  gap: 50px;
}

#equipment-container img {
  width: 100%;
}

#equipment-container hr {
  margin-bottom: 40px;
}

#equipment-container h3 i {
  margin-right: 10px;
}

#equipment-container .equipment .contents.facilities {
  display: grid;
  gap: 40px;
  text-align: center;
}

.download {
  display: flex;
  justify-content: end;
  width: 100%;
}

.download a {
  border: 1px solid #aaa;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}

.download a i {
  color: red;
}

/*************************/
/* DELIVERY */
/*************************/

#equipment-container .equipment .contents-delivery img {
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  gap: 0;
}
#equipment-container .equipment .contents-delivery img:not(:last-child) {
  border-bottom: none;
}

/* CONTACT-HOME */

#contact-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.6)), url("images/contact-back.jpg");
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#contact-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/*************************/
/* DELIVERY */
/*************************/

#contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}

#contact .getin {
  width: 350px;
}

#contact .getin h2 {
  font-size: 30px;
  color: #2c234d;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 10px;
}

#contact .getin p {
  color: #686875;
  line-height: 24px;
  border-bottom: 1px solid #e5e4ed;
  margin-bottom: 33px;
  padding-bottom: 25px;
}

#contact .getin .getin-details h3 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #2c234d;
}


#contact .getin .getin-details div {
  display: flex;
  gap: 15px;
}

#contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}

#contact .getin .getin-details .pro-link i {
  margin-right: 8px;
}

#contact .form {
  width: 60%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
}

#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
}

#contact .form p {
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;
}

#contact .form .form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-col textarea {
  resize: vertical;
}

#contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: rgb(21, 21, 100);
}

#map {
  width: 100%;
  height: 70vh;
}

#map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {

  /* NAV */

  nav img {
    width: 250px;
  }
    
  nav .navigation ul {
    width: 230px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 99999;
    transition: 0.3s ease-in-out;
  }

  nav .navigation ul.active {
    right: 0px;
  }
    
  #menu-close {
    display: initial;
    font-size: 1.6rem;
    padding: 30px 0 20px 20px;
    color: #fff;
  }

  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a {
    color: #fff;
  }

  nav .navigation ul li a.blue {
    color: #fff;
    border: 1px solid #fff;
  }

  #menu-btn {
    display: initial;
  }

  /* HOME-IMAGE : SWIPER   */

  #product-brief {
    padding: 80px 10vw 0 10vw;
  }

  /* FEATURES */

  #features .fea-base {
    grid-template-columns: auto auto auto;
  }

  /* VIDEO */

  #video {
    padding: 80px 10vw 0 10vw;
  }

  #video .video-container .video {
    height: 200px;
  }

  #video .video-container {
    gap: 50px;
  }

  /* HOME */
    #about-section {
      width: 800px;

    }

  /* FOOTER */

    footer .footer-base {
      display: grid;
      grid-template-columns: 1fr;
    }
  
  /* Contact */

  #contact {
    gap: 40px;
  }

}

@media (max-width: 992px) {

  /*******************************/
  /****** HOME           *********/
  /*******************************/

  /* FEATURES */
  
  #features .fea-base {
    grid-template-columns: auto;
  }

  /* PRODUCT & FACILITIES */

  .product-brief-base {
    grid-template-columns: 1fr 1fr;
  }

  #history-brief {
    grid-template-columns: 1fr;
    place-items: center;
  }

  #history-brief .history-brief-base .history-brief-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  /* VIDEO */

  #video .video-container .video {
    height: 150px;
  }

  /*******************************/
  /****** ABOUT          *********/
  /*******************************/

  #about #about-section {
    width: 100%;
    padding: 0 5vw;
  }

  #about .history-box {
    grid-template-columns: 1fr;
  }

  #contact {
    flex-direction: column;
  }

  #contact .getin, #contact .form {
    width: 100%;
  }

}

@media (max-width: 768px) {

  /*******************************/
  /****** ABOUT          *********/
  /*******************************/

  /* NAV */

  nav {
    padding: 15px 20px;
  }


  /* VIDEO */

  #video .video-modal-box {
    display: none;
  }

  #video .video-box {
    display: grid;
  }

  #history-brief .history-brief-base .history-brief-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #history-brief {
      padding: 6vw 0 3vw 0;
      height: 70vh;
  }

  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  /*******************************/
  /****** ABOUT          *********/
  /*******************************/

  #about-section #greeting-container {
    grid-template-columns: 1fr;
  }

  /*******************************/
  /****** PRODUCTS         *********/
  /*******************************/
  
  #products #products-section {
    width: 100%;
    padding: 0 5vw;
  }
  
  
  #products #products-section #products-container .product .contents {
    grid-template-columns: 1fr;
  }
  
  /*******************************/
  /****** EQUIPMENT         *********/
  /*******************************/
  
  #equipment #equipment-section {
    width: 100%;
    padding: 0 5vw;
  }


  #contact .form .form-row {
    flex-direction: column;
  }

  #contact .form .form-row input {
    width: 100%;
  }

  #map {
    padding: 0 8vw;
  } 

}

@media (max-width: 575px) {

/*******************************/
/****** HOME         *********/
/*******************************/

  .swiper h2 {
    font-size: 30px;
  }

  /* PRODUCT & FACILITIES */
    
  .product-brief-base {
    grid-template-columns: 1fr;
  }

  #history-brief {
    padding: 6vw 0 3vw 0;
    height: 80vh;
  }

  #Facilities .Facilities-box {
    grid-template-columns: 1fr;
    margin-bottom: 80px;
  }

footer {
  margin-top: 16vw;
  padding: 16vw 8vw;
}

footer .footer-container {
  grid-template-columns: 1fr;

}

/*******************************/
/****** ABOUT       *********/
/*******************************/

#patent .patent-container {
  grid-template-columns: 1fr;
  gap: 70px;
}

/*******************************/
/****** PRODUCTS      *********/
/*******************************/

  #products-menu .menu-container {
    grid-template-columns: 1fr;
  }

  #products-menu .menu-container .menu:not(:last-child) {
    border-right: 1px solid #ddd;
  }

  #products-menu .menu-container .menu:not(:last-child) {
    border-bottom: none;
  }

  #products-type-container .contents {
    padding: 10px;
  }

  /*******************************/
  /****** EQUIPMENT      *********/
  /*******************************/

  .download {
    margin-top: 20px;
  }

  /*******************************/
  /****** CONTACT      *********/
  /*******************************/

  #contact .form {
    padding: 15px;
  }
}
