@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

/* NAV */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

nav img {
  width: 350px;
  cursor: pointer;
}

nav .navigation {
  display: flex;
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav .navigation ul li a:hover,
nav .navigation ul li a.active {
  color: #FDC93B;
}

nav .navigation ul li a.blue {
  font-size: 0.8rem;
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: rgb(21, 21, 100);
  border: 1px solid #412e88;
}

nav .navigation ul li a.blue:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.1);
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-btn img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#menu-close {
  display: none;
}

/* HOME */

.swiper {
  margin-top: 65px;
  width: 100%;
  height: 45vh;
}

.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper .swiper-wrapper .slide1 {
  background-image : linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/home-back01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper .swiper-wrapper .slide2 {
  background-image : linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/home-back02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper .swiper-wrapper .slide3 {
  background-image : linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/home-back03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide h2 {
  color: #fff;
  font-size: 2.6rem;
  letter-spacing: 2px;
}


/* FEATURES */

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#features .fea-box {
  background-color: #ebebf0;
  padding: 2rem;
  text-align: start;
  border-radius: 10px;
}

#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}

#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 50);
  padding: 13px 0 7px 0;
}

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(90, 90, 87);
}

/* Facilities */

#Facilities {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}

#Facilities .Facilities-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-top: 50px;
}

#Facilities .Facilities-box .Facilities {
  text-align: center;
  background: #f0f0f0;
  height: 100%;
  padding: 5px;
  border: 1px solid rgb(221, 219, 219)
}

#Facilities .Facilities-box .Facilities-img {
  height: 250px;
  background-size: cover;
  background-position: center;
}

#Facilities .Facilities-box .Facilities-img.image1 {
  background-image: url("images/pe-01.jpg");
}

#Facilities .Facilities-box .Facilities-img.image2 {
  background-image: url("images/pe-02.jpg");
}

#Facilities .Facilities-box .Facilities-img.image3 {
  background-image: url("images/pe-03.jpg");
}

#Facilities .Facilities-box .Facilities-img.image4 {
  background-image: url("images/pe-04.jpg");
}

#Facilities .Facilities-box .Facilities-img.image5 {
  background-image: url("images/pe-05.jpg");
}

#Facilities .Facilities-box .Facilities-img.image6 {
  background-image: url("images/pe-06.jpg");
}

#Facilities .Facilities-box .Facilities-img.image7 {
  background-image: url("images/pe-07.jpg");
}

#Facilities .Facilities-box .Facilities img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

#Facilities .Facilities-box .Facilities .details {
  padding: 15px 15px 0 15px;
}

#Facilities .Facilities-box .Facilities .details .brochure {
  margin: 5px 0;
}

#Facilities .Facilities-box .Facilities .details .brochure a {
  padding: 5px 10px;
  background-color: rgb(230, 221, 239);
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
}

#Facilities .Facilities-box .Facilities .details i {
  color: #FDC93B;
  font-size: 0.9rem;
}

#Facilities .Facilities-box .Facilities .more {
  background-color: rgb(74, 74, 136);
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 60px;
  right: 15px;
  border: 5px solid #fff;
}

#Facilities .Facilities-box .Facilities .more a {
  text-decoration: none;
  color: #fff;
}

/* RETISTRATION */

#registration {
  margin-top: 8vw;
  padding: 0 8vw;
  background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(82, 91, 233, 0.5)), url("images/home-back02.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;

}

#registration .reminder {
  color: #fff;
}

#registration .reminder h1 {
  color: #fff;
}

#registration .reminder .time {
  display: flex;
  margin-top: 40px;
}

#registration .reminder .time .date {
  text-align: center;
  border-radius: 5px;
  /* border: 2px solid #ffff; */
  padding: 15px 10px;
  margin: 0 10px 10px 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: bulr(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

#registration .reminder .time span {
  color: #ffff00;
  font-size: 0.8rem;
}

#registration .form {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
  border-radius: 5px;
}

#registration .form input::placeholder {
  color: #7a7575;
  font-size: 0.9rem;
  font-weight: 500;
}

#registration .btn {
  margin-top: 20px;
}

#registration  a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background: #FDC93B;
  color: #fff;
  background-repeat: 5px;
  font-weight: 600;
  transition: 0.3s ease;
}

#registration a.yellow:hover {
  background: #e4e0d6;
  color: rgb(21, 21, 100);
}

/* productS */

#product-brief {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
  margin-bottom: 80px;
}

#product-brief .product-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  margin-top: 50px;
}

#product-brief .product-box .products {
  text-align: center;
  position: relative;
  background: #ffffff;
  height: 100%;
  border: 1px solid #bcb8b8;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(236, 235, 235);
}

#product-brief .product-box .products .product-img {
  height: 250px;
  background-size: cover;
  background-position: center;
  border: 1px solid #aaa;
}

#product-brief .product-box .products .product-img.image1 {
  background-image: url("images/pe-01.jpg");
}
#product-brief .product-box .products .product-img.image2 {
  background-image: url("images/product01.jpg");
}
#product-brief .product-box .products .product-img.image3 {
  background-image: url("images/product02.jpg");
}

#product-brief .product-box .products .details {
  padding: 15px;
}

#product-brief .product-box .products .details i {
  color: #FDC93B;
  font-size: 0.9rem;
}

#product-brief .product-box .products .more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 74, 136);
  color: #fff;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: 15px;
  border: 3px solid yellow;
}

#product-brief .product-box .products .more:hover {

  background-color: rgb(161, 161, 225);
}

/* FOOTER */

footer {
  margin-top: 8vw;
  padding: 8vw 8vw;
  background-color: #101c32;
}

footer .footer-base {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-col {
  padding-bottom: 40px;
}

footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 500;
  padding-bottom: 20px;
}

footer li {
  list-style: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

footer li:hover {
  color: rgb(241, 240, 245);
}

footer p {
  color: #7b838a;
  
}

footer .subscribe {
  display: flex;
  margin-top: 20px;
  align-items: center;
}


footer .subscribe a.blue {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background: #0b03f9;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

footer .subscribe a.blue:hover {
  background: #f7f3e9;
  color: rgb(21, 21, 100);
}

footer .subscribe a.yellow {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background: #FDC93B;
  color: #2c2c2c;
  font-weight: 600;
  transition: 0.3s ease;
}

footer .subscribe a.yellow:hover {
  background: #f7f3e9;
  color: rgb(21, 21, 100);
}

footer .copyright {
  display:flex;
  justify-content: center;
  align-items: center;
}

footer .copyright p {
  color: #aaa;
}


/* ABOUT */

/* ABOUT-HOME */

#about-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.2), rgba(5, 4, 46, 0.5)), url("images/about-back.jpg");
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#about-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* ABOUT-CONTAINER */

#about {
  padding: 6vw 25vw 0vw 25vw;
}

#about-section {
  display: grid;
  place-items: center;
  margin-bottom: 80px;
}

#about-section h1 {
margin-bottom: 50px;
}

#about-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
}

#about-container .about-img {
  text-align: center;
}

#about-container .about-img img {
  max-width: 100%;
}

#about-container .about-text h3 {
  color: #29303B;
  padding-bottom: 15px;
}

#about-container .about-text p {
  color: #282929;
  font-weight: 300;
}


/* Patent */

#patent {
  display: grid;
  place-items: center;
  margin-bottom: 80px;
}

#patent h1 {
  margin-bottom: 50px;
}

#patent .patent-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

#patent .patent-container .patent-img {
  text-align: center;
}

#patent .patent-container .patent-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(193, 192, 192);
}

/* PRODUCTS */

/* PRODUCT-HOME */

#products-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.2), rgba(5, 4, 46, 0.5)), url("images/products-back.jpg");
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#products-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* PRODUCT-CONTAINER */

#products {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 60px;
  padding: 6vw 20vw 0vw 20vw;
}

#products-menu .menu-container {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 5px; */
  align-content: start;
  position: sticky;
  top: 100px;
}

#products-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* padding: 20px 10px; */
  /* border: 1px solid rgb(225, 224, 224); */
  /* border-radius: 10px; */
  background-color: rgb(221, 220, 220);
  color: #000;
  cursor: pointer;
  border: 1px solid #aaa;
}

#products-menu .menu:hover {
  background-color: #fff;
}

#products-menu .menu-container .menu:not(:last-child) {
  border-bottom: none;
}

#products-menu .menu.active{
  background-color: rgb(251, 251, 251);
}

#products-menu .menu i {
  font-size: 24px;
  margin-right: 20px;
}

#products-menu .menu i.active {
  color: #8a2be2;
}

#products-type-section h1 {
  margin-bottom: 50px;
  text-align: center;
}

#products-type-section h2 {
  margin-top: 30px;
}
#products-type-section h2 i {
  color: #000;
}


#products-type-section h3 {
  margin: 20px 0 20px 0;
}

#products-type-section i {
  font-size: 24px;
  margin-right: 20px;
  color: #fff;
}

#products-type-section .contents {
  padding: 0 0 0 30px;
}

#products-type-section .contents .contents-sub {
    padding: 0 0 0 30px;
}

#products-section {
  display: grid;
  place-items: center;
  margin-bottom: 80px;
}

#products-section h1 {
  margin-bottom: 50px;
}

#products-section #products-container {
  display: grid;
  gap: 30px;
}

#products-container .product {
  margin-bottom: 50px;
}
#products-container .product hr {
  margin-bottom: 40px;
}

#products-container .product i {
  margin: 0 20px 0px 0;
  color:rgb(84, 40, 241);
}

#products-container .product li {
  list-style-position: inside;
}

#products-container .product .contents
{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 30px;
}

#products-container .product .img
{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 30px;
}

#products-container .product img
{
  max-width: 100%;
}

#products-container .product .contents.ca-head-box
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px;
}

#products-container .product .contents.ca-pope-reel-section 
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 30px;
}
#products-container .product .contents.automatic-spool-loading
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 30px;
}

#products-container .product .second {
  margin-top: 30px;
}

#products-container .product .contents .img,
#products-container .product .second .img
 {
  width: 100%;
  border: 1px solid grey;
}

#products-container .product .contents01 img {
  width: 100%;
}

#products-container .product .contents h6 {
  margin: 20px 0;
}

#products-container .product .contents.ca-ln-press-section .lower-img {
  margin-top: 30px;
}

/* History */

#history {
  text-align: center;
  margin-bottom: 80px;
}

#history .history-base {
  width: 100%;
  display: grid;
  gap: 20px;
}

#history h1 {
  margin-bottom: 50px;
}

#history .history-box {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  align-items: start;
}

#history .history-box .tens {
  text-align: center;
  font-size: 30px;
  background-color: rgba(137, 43, 226, 0.496);
  padding: 10px;
  font-weight: 700;
  color: #fff;
}

#history .history-box .contents-base {
  text-align: start;
  padding: 10px 30px;
  border: 1px solid rgba(220, 219, 219, 0.716);
}

#history .history-box .contents-base img {
  max-width: 100%;
}

#history .history-box .contents {
  display: flex;
  gap: 30px;
}

#history .history-box .contents .year {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: end;
}

/* Patent */

#patent {
  display: grid;
  place-items: center;
  margin-bottom: 80px;
}

#patent h1 {
  margin-bottom: 50px;
}

#patent .patent-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

#patent .patent-container .patent-img {
  text-align: center;
}

#patent .patent-container .patent-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(193, 192, 192);
}

/* Facilities */

#Facilities-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.6)), url("images/Facilities01.jpg");
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#Facilities-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* Facilities-INNER */

#Facilities-inner-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.6)), url("images/Facilities01.jpg");
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#Facilities-inner-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}


/* Facilities Inner */

#Facilities-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}

#Facilities-inner .overview {
  width: 70%;
}

#Facilities-inner .overview .Facilities-img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

#Facilities-inner h3 {
  padding: 35px 0 25px 0;
  color: #29303B;
}

#Facilities-inner hr {
  height: 1px;
  background:  rgba(236, 226, 229, 0.5);
  margin-top: 40px;
}

#Facilities-inner .overview .Facilities-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#Facilities-inner .overview .Facilities-head .c-name {
  width: 100%;
}

#Facilities-inner .overview .Facilities-head .c-name .title-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Facilities-inner .overview .Facilities-head h2 {
  color: #29303B;
}

#Facilities-inner .overview .Facilities-head .star {
  margin: 6px 0;
}

#Facilities-inner .overview .Facilities-head i {
  color: #FDC93B;
  font-size: 0.9rem;
}

#Facilities-inner .overview .Facilities-head p {
  font-size: 15px;
}

#Facilities-inner .overview .Facilities-head span {
  padding: 16px 22px 13px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  color: #5838fc;
  background: rgba(88, 56, 252, 0.1);
}

#Facilities-inner .learn p {
  font-size: 15px;
  padding-bottom: 15px;
}

#Facilities-inner .learn p i {
  color: #654ce4;
  font-weight: 700;
  margin-right: 20px;
}


#Facilities-inner .tutor {
  display: flex;
  margin-top: 20px;
}

#Facilities-inner .tutor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

#Facilities-inner .tutor h5 {
  font-size: 16px;
}

#Facilities-inner .tutor p {
  font-size: 16px;
}

#Facilities-inner .enroll {
  width: 300px;
  padding: 0 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgb(11 2 55 / 8%);
}

#Facilities-inner .enroll h3 {
  padding-bottom: 10px;
}

#Facilities-inner .enroll p {
  font-size: 15px;
  color: #64626e;
  margin: 15px 0;
}

#Facilities-inner .enroll p i {
  color: #654ce4;
  font-weight: 500;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-right: 18px;
  text-align: center;
}

#Facilities-inner .enroll-btn {
  padding: 25px 0 20px 0;
  margin: auto;
  text-align: center;
}

#Facilities-inner .enroll-btn a.blue {
  text-decoration: none;
  width: 300px;
  font-size: 0.9rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #412e88;
  background: rgb(50, 50, 136);
}


/* CONTACT-HOME */

#contact-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.6)), url("images/contact-back.jpg");
  width: 100%;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#contact-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* CONTACT */

#contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}

#contact .getin {
  width: 350px;
}

#contact .getin h2 {
  font-size: 30px;
  color: #2c234d;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 10px;
}

#contact .getin p {
  color: #686875;
  line-height: 24px;
  border-bottom: 1px solid #e5e4ed;
  margin-bottom: 33px;
  padding-bottom: 25px;
}

#contact .getin .getin-details h3 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #2c234d;
}


#contact .getin .getin-details div {
  display: flex;
  gap: 15px;
}

#contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}

#contact .getin .getin-details .pro-link i {
  margin-right: 8px;
}

#contact .form {
  width: 60%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
}

#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
}

#contact .form p {
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;
}

#contact .form .form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-col textarea {
  resize: vertical;
}

#contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: rgb(21, 21, 100);
}

#map {
  width: 100%;
  height: 70vh;
}

#map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  /* Abut */
  
  #about {
  padding: 6vw 15vw 0vw 15vw;
  }
}

@media (max-width: 1200px) {

  /* Features */
  #features .fea-base {
    grid-template-columns: auto auto auto;
  }

  /* FOOTER */

    footer .footer-base {
      display: grid;
      grid-template-columns: 1fr;
    }
  

  /* Products */

  #products {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 60px;
    padding: 6vw 15vw 0vw 15vw;
  }

/* Abut */

#about {
  padding: 6vw 10vw 0vw 10vw;
}

  /* Facilities */

  #Facilities-inner {
    gap: 30px;
  }

  /* Contact */

  #contact {
    gap: 40px;
  }

}

@media (max-width: 992px) {

  nav img {
    width: 250px;
  }

  nav .navigation ul {
    width: 230px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 99999;
    transition: 0.3s ease-in-out;
  }

  nav .navigation ul.active {
    right: 0px;
  }

  #menu-close {
    display: initial;
    font-size: 1.6rem;
    padding: 30px 0 20px 20px;
    color: #fff;
  }

  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a {
    color: #fff;
  }

  nav .navigation ul li a.blue {
    color: #fff;
    border: 1px solid #fff;
  }

  #menu-btn {
    display: initial;
  }

  /* HOME */

  #home h2 {
      font-size: 2.2rem;
  }

  /* Features */
  #features .fea-base {
    grid-template-columns: auto;
  }

  #product-brief .product-box {
    grid-template-columns: auto auto;
  }

  #registration {
    grid-template-columns: 1fr;
    place-items: center;
  }

  #registration .reminder .reminder-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #registration .reminder .time {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  #registration .form {
    width: 50%;
  }

  #Facilities .Facilities-box {
    grid-template-columns: 1fr 1fr;
  }

  /* FOOTER */



  /* ABOUT */

  #about .history-box {
    grid-template-columns: 1fr;
  }

  /* Products */

    #products {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 30px;
      padding: 6vw 5vw 0vw 5vw;
    }
  /* CONTACT */

  #contact {
    flex-direction: column;
  }

  #contact .getin, #contact .form {
    width: 100%;
  }


}

@media (max-width: 768px) {
  /* NAV */

  nav {
    padding: 15px 20px;
  }

  #home {
    height: 70vh;
  }

  #home .home-text {
    width: 80%;
  }

    #product-brief .product-box {
      grid-template-columns: auto;
    }
  
  #registration .reminder .time {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #registration {
      padding: 6vw 0 3vw 0;
      height: 70vh;
  }

  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  /* About */

  #about-section #about-container {
    grid-template-columns: 1fr;
  }

  #patent .patent-container {
    grid-template-columns: 1fr;
  }

  
  /* Products */
  
  #products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 6vw 5vw 0vw 5vw;
  }

  #products-menu {
    position: sticky;
    top: 65px;
  }

  #products-menu .menu-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #products-menu .menu-container .menu:not(:last-child) {
    border-bottom: 1px solid #aaa;
  }

  #products-container .product .contents {
    grid-template-columns: 1fr;

  }



  #contact .form .form-row {
    flex-direction: column;
  }

  #contact .form .form-row input {
    width: 100%;
  }

  #map {
    padding: 0 8vw;
  } 

}

@media (max-width: 575px) {

  #home {
    padding-top: 80px;
  }

  h1 {
    font-size: 1.8rem;
  }

  #home h2 {
    font-size: 2rem;
  }

  #registration {
    padding: 6vw 0 3vw 0;
    height: 80vh;
  }

  #Facilities .Facilities-box {
    grid-template-columns: 1fr;
    margin-bottom: 80px;
  }

  /* About */
#about {
  padding: 6vw 4vw 0vw 4vw;
}

#history .history-box .tens {
  font-size: 20px;
}

#history .history-box .contents-base {
  padding: 0px;
}

#history .history-box .coontents-base img {
  width: 100%;
}

footer {
  margin-top: 16vw;
  padding: 16vw 8vw;
}

footer .footer-container {
  grid-template-columns: 1fr;

}

  /* products */

  #products-menu .menu-container {
    grid-template-columns: 1fr;
  }

  #products-type-section .contents {
    padding: 0 ;
  }

  #products-type-section .contents .contents-sub {
    padding: 0 ;
  }

  #products-menu .menu-container .menu:not(:last-child) {
    border-bottom: none;
  }
}
